<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>checkbox</h1>
        <form  method="POST" action="{% url 'select_multiple_webpage' %}">
             {% csrf_token %}
        select Topic:
        <br> <br>
{% for to in topic %}

     <label for="ta">{{to.topic_name}}</label>
     <input type="checkbox" name="ta" id="ta" value="{{to.topic_name}}">

{% endfor %}
  <br><br>

    <input type="submit" value="select_multiple_webpage">
</form>
    </center>
</body>
</html>