<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>display_webpage</h1>
            <table border="3px">
                 <tr>
                    <th>pk value</th>
                    <th>Topic_name</th>
                    <th>Name</th>
                    <th>Url</th>
                    <th>Email</th>
                </tr>
    {% for wb in Webpages %}
        <tr>
            <td>{{wb.pk}}</td>
            <td>{{wb.topic_name}}</td>
            <td>{{wb.name}}</td>
            <td>{{wb.url}}</td>
            <td>{{wb.email}}</td>
        </tr>
    {% endfor %}

            </table>
   </center>
</body>
</html>