<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>select_multiple_webpage.html</h1>

        <form method="POST">
            {% csrf_token %}
            
            <label for="ta">Topic_name</label>
            <select name="ta" id="ta" multiple>
                {% for to in topic %}
                <option value="{{to.topic_name}}">{{to.topic_name}}</option>
                {% endfor %}
            </select> <br><br>

            <input type="submit" value="select_multiple_webpage">

        </form>
    </center>
</body>
</html>